<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Gikolipse"
            id="Gikolipse">
      </category>
      <view
            category="Gikolipse"
            class="com.github.gikolipse.views.ThreadListView"
            icon="icons/page_find.gif"
            id="com.github.gikolipse.views.ThreadListView"
            name="スレッド選択">
      </view>
      <view
            category="Gikolipse"
            class="com.github.gikolipse.views.ThreadBrowserView"
            icon="icons/page_url.gif"
            id="com.github.gikolipse.views.ThreadBrowserView"
            name="スレッドブラウザビュー">
      </view>
      <view
            category="Gikolipse"
            class="com.github.gikolipse.views.ThreadTextView"
            icon="icons/page_text.gif"
            id="com.github.gikolipse.views.ThreadTextView"
            name="スレッドテキストビュー">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.github.gikolipse.views.ThreadListView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.github.gikolipse.views.ThreadView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.github.gikolipse.views.BrowserView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
